.error{
    height: 90vh;
    width: 100vw; 
}
.container{
    width: 100vw;
    flex-wrap: wrap;
}
.box1{
    width:30vw;
    border-left: 1px solid rgb(172, 172, 172);
    height: 100vh;
}
.box2{
    width: 70vw;
    flex-wrap: wrap;
    height: 100vh;
}

@media  (max-width: 600px) {
    .container{
        width: 100vw;
        flex-direction: column;
        position: relative;
    }
    .box1{
        width:100vw;
        
        z-index: 1;
        
    }
    .box2{
        position: relative;
        width: 100vw;
        height: 50vh;
  overflow-y:scroll;
        border-bottom: 5px solid rgb(172, 172, 172);
    }
  }
